---
// SkillsSection.astro
import SkillCard from "./SkillCard.astro";

const skillsData = [
    { heading: 'Frontend Development', skills: ['Javascript','TailwindCSS','Astro','React', 'HTML', 'CSS', 'PHP'], rates: [3.5, 3.5, 2, 3, 3, 3.5, 2] },
    { heading: 'Backend Development', skills: ['C#','Java','Python','SpringBoot','.NET', 'SQL'], rates: [3.5, 3, 2, 3, 2.5, 2.5] },
    { heading: 'Game Development', skills: ['Unity'], rates: [1.5] },
    { heading: 'Tools', skills: ['Git','Docker', 'Postman', 'Confluence', 'Jira'], rates:[3.5, 1.5, 1.5, 3.5, 3.5]},
    { heading: 'Soft Skills', skills: ['Leadership', 'Teamwork', 'Communication', 'Problem-solving'], rates: [2.5, 4, 3, 3.5] },
    { heading: 'Languages', skills: ['English', 'Vietnamese'], rates: [4.5, 5] },
];
---
<h1 id="skills" class="font-extrabold text-3xl md:text-4xl p-5">Skills</h1>
<div class="h-2/3 md:justify-center md:content-center">
    <div class="gap-4 px-2 justify-items-center grid grid-cols-1 md:grid-cols-3">
        {skillsData.map(({ heading, skills,rates }) => (
                <SkillCard heading={heading} skills={skills} rates={rates} />
        ))}
    </div>
</div>
