---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---
<Layout>
<ul>
    <li><a href="/projects/portfoliowebsite/">Post 1</a></li>
</ul>
    <Carousel />
</Layout>