---
// SkillsSection.astro
import SkillCard from './SkillCard.astro';

const skillsData = [
    { heading: 'Frontend Development', skills: ['Javascript','TailwindCSS','Astro','React', 'HTML', 'CSS', 'PHP'] },
    { heading: 'Backend Development', skills: ['C#','Java','Python','SpringBoot','.NET', 'SQL'] },
    { heading: 'Game Development', skills: ['Unity'] },
    { heading: 'Tools', skills: ['Git', 'Postman', 'Confluence', 'Jira'] },
    { heading: 'Soft Skills', skills: ['Leadership', 'Teamwork', 'Communication', 'Problem-solving'] },
    { heading: 'Languages', skills: ['English', 'Vietnamese'] },
];
---
<div class="h-2/3 md:justify-center md:content-center">
    <div class="gap-6 px-3 justify-items-center grid grid-cols-1 md:grid-cols-2">
        {skillsData.map(({ heading, skills }) => (
                <SkillCard heading={heading} skills={skills} />
        ))}
    </div>
</div>
