---
import ProjectCard from "./ProjectCard.astro"
---
<div class="relative h-full w-full md:overflow-y-auto">
<!-- Carousel wrapper -->
    <div class="text-black">
        <div class="flex flex-col gap-4 px-4 py-6 h-full w-full items-center">
            <!-- Card 1 -->
                <ProjectCard emoji="ðŸŒ"
                             name="Portfolio Site"
                             link="https://github.com/vzunguyen/portfolio-site"
                             skills="Javascript, React, Astro, Tailwind CSS, Vercel"
                             state="In Progress"
                             description="A personal website built with Astro, React, and TailwindCSS to showcase my skills and projects, designed to be fast, responsive, and easily updated. Javascript, React, Astro, Tailwind CSS, Vercel.">
                </ProjectCard>
            <!-- Card 2 -->
                <ProjectCard emoji="â›…"
                             name= "Weather App Project"
                             link="https://github.com/vzunguyen/weather-project"
                             skills="Python, React, Javascript, Jira"
                             state="Completed"
                             description="A tool for forecasting weather conditions and estimating building electricity usage, combining real-time weather APIs with NYC historical data. Python, FastAPI, JavaScript, React. This project was a university project between 2 team members.">
                </ProjectCard>
            <!-- Card 3 -->
                <ProjectCard emoji="ðŸ¤–"
                             name="LLMs Project"
                             link="https://github.com/vzunguyen/llms-project"
                             skills="Python, PyTorch, LitGPT"
                             state="Suspended"
                             description="A prototype large language model built from scratch using PyTorch and LitGPT, covering tokenization, model design, and training fundamentals. Python, PyTorch, LitGPT.">
                </ProjectCard>
            <!-- Card 4 -->
                <ProjectCard emoji="ðŸŒŸ"
                             name="My First Portfolio Website"
                             link="https://github.com/vzunguyen/portfolio-website"
                             skills="Javascript, React, Tailwind CSS, Vercel"
                             state="Completed"
                             description="This is my first ever Portfolio Website, made with React and Tailwind CSS, and used JSON data to display my skills and projects.">
                </ProjectCard>
            <!-- Card 5 -->
                <ProjectCard emoji="ðŸ“š"
                             name="Book Review API"
                             link="https://github.com/vzunguyen/book-review"
                             skills="Javascript, React, Tailwind CSS, Vercel"
                             state="In Progress"
                             description="This project was developed in preparation for job hunting and learning Java and Springboot, technologies that are widely used in the industry.">
                </ProjectCard>
        </div>
    </div>
</div>