---
import ProjectCard from "./ProjectCard.astro"
---
<div class="relative h-full w-full md:overflow-y-auto">
<!-- Carousel wrapper -->
    <div class="text-black">
        <div class="flex flex-col gap-4 px-4 py-6 h-full w-full items-center">
            <!-- Card 1 -->
            <div class="max-w-full md:w-2/3 rounded-xl bg-white opacity-90 shadow-lg p-6 snap-start">
                <ProjectCard name="Portfolio Site"
                             link="http://www.zuvn.dev"
                             skills="Javascript, React, Tailwind CSS, Vercel"
                             state="In Progress"
                             description="This website is made with React and Tailwind CSS, and uses JSON data to display my information. This website is deployed on Vercel.">
                </ProjectCard>
            </div>
            <!-- Card 2 -->
            <div class="max-w-full md:w-2/3 rounded-xl bg-white opacity-90 shadow-lg p-6 snap-start">
                <ProjectCard name="Portfolio Site"
                             link="http://www.zuvn.dev"
                             skills="Javascript, React, Tailwind CSS, Vercel"
                             state="In Progress"
                             description="This website is made with React and Tailwind CSS, and uses JSON data to display my information. This website is deployed on Vercel.">
                </ProjectCard>
            </div>
            <!-- Card 3 -->
            <div class="max-w-full md:w-2/3 rounded-xl bg-white opacity-90 shadow-lg p-6 snap-start">
                <ProjectCard name="Portfolio Site"
                             link="http://www.zuvn.dev"
                             skills="Javascript, React, Tailwind CSS, Vercel"
                             state="In Progress"
                             description="This website is made with React and Tailwind CSS, and uses JSON data to display my information. This website is deployed on Vercel.">
                </ProjectCard>
            </div>
            <!-- Card 4 -->
            <div class="max-w-full md:w-2/3 rounded-xl bg-white opacity-90 shadow-lg p-6 snap-start">
                <ProjectCard name="Portfolio Site"
                             link="http://www.zuvn.dev"
                             skills="Javascript, React, Tailwind CSS, Vercel"
                             state="In Progress"
                             description="This website is made with React and Tailwind CSS, and uses JSON data to display my information. This website is deployed on Vercel.">
                </ProjectCard>
            </div>
            <!-- Card 5 -->
            <div class="max-w-full md:w-2/3 rounded-xl bg-white opacity-90 shadow-lg p-6 snap-start">
                <ProjectCard name="Portfolio Site"
                             link="http://www.zuvn.dev"
                             skills="Javascript, React, Tailwind CSS, Vercel"
                             state="In Progress"
                             description="This website is made with React and Tailwind CSS, and uses JSON data to display my information. This website is deployed on Vercel.">
                </ProjectCard>
            </div>
        </div>
    </div>
