---
const {heading, skills} = Astro.props;
const skillList = Array.isArray(skills) ? skills : [];
---
<div class="relative flex flex-col my-6  shadow-sm border border-slate-200 hover:border-slate-300 hover:shadow-md rounded-lg transition-all cursor-pointer w-96">
    <div class="p-4">
        <h1>{heading}</h1>
        <ol>
            {skillList.map((skill) => (
                <li class="text-sm text-gray-400">{skill}</li>
            ))}
        </ol>
    </div>
</div>